<h1>Idea Box</h1>

<div class="new-idea">
  <input type="text" name="title" value="Title" id="new-idea-title"><br>
  <input type="text" name="body" value="Body" id="new-idea-body"><br><br>
  <input type="button" name="save" value="Save" id="create-idea">
</div>

<div class="ideas-index">
  <table class = "ideas-table">
    <tr class = "ideas-index-headers">
      <th>
        Title
      </th>
      <th style='width: 100'>
        Body
      </th>
      <th>
        Quality
      </th>
      <th>
        Up quality
      </th>
      <th>
        Down quality
      </th>
      <th>
        Delete
      </th>
    </tr>
  </table>
</div>
