<h1>Idea Box</h1>
<div class="ideas-index">
  <table class = "ideas-table">
    <tr class = "ideas-index-headers">
      <th>
        Title
      </th>
      <th style='width: 100'>
        Body
      </th>
      <th>
        Quality
      </th>
    </tr>
  </table>
</div>
