<h1>Idea Box</h1>
<div class="ideas-index">
  <table class = "ideas-table">
    <tr>
      <th>
        Title
      </th>
      <th>
        Body
      </th>
      <th>
        Quality
      </th>
    </tr>
  </table>
</div>
