/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: #f5f5f5;
 }

 /*header*/
h1 {
  color: teal;
  font-family: cursive;
  font-weight: bolder;
}

 /*container*/
 .container {
   margin: 2%;
   border: 2%;
 }

section {
  float: inherit;
  align-items: center;
}

/*table*/
td {
  font-family: sans-serif;
  font-size: small;
}

tr {
  outline: 2px #efefef solid;
}

th {
  word-wrap: break-word;
  border-bottom: 2px solid black;
  font-family: cursive;
  column-rule-color: transparent;
  color: teal;
}

.ideas-index {
  margin-right: 1%;
  margin-left: 1%;
  width: 100%;
  align-items: center
}

.ideas-title {
  width: 15%;
}

.ideas-body {
  width: 70%;
}
/*create idea*/

#new-idea-title {
  width: 300px;
  height: 20px;
  align: left;
}

#new-idea-body {
  width: 300px;
  height: 100px;
}

.new-idea {
  margin: 2%;
  border: 2%;
  float: left;
  overflow: auto;
}

/*search*/
.search-field {
  margin: 2%;
}

.search-idea {
  height: 20px;
  width:100%;
  align-self: left;
  border: 2px solid #efefef;
  background-color: white;
}

[contentEditable=true]:not(:focus)::before{
  content:attr(title);
  color: lightblack;
  font-family: sans-serif;
  font-size: small;
}
